@import '~@vuejs/component/themes.scss';

#popupContentBody {
    padding: 18px 24px !important;
    height: calc(100% - 38px) !important;
    position: relative;
    #vue-mount {
        @include themify($themes) {
            .popup-header {
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;

                .header-text {
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: bold;
                    color: themed('typography-color-primary');
                }
                .header-btn-group {
                    margin: -6px -12px 0 0;
                    .aries-ui-btn {
                        margin-left: 0 !important;
                    }
                }
            }
            .popup-body {
                color: themed('typography-color-primary');
                .body-title {
                    border-bottom: 1px solid themed('tab-border-bottom-color');
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    line-height: 26px;
                    padding-bottom: 10px;
                    .count {
                        margin-left: 4px;
                        font-size: 12px;
                        line-height: 1;
                        align-self: flex-end;
                        color: themed('typography-color-grey2');
                    }
                }
                .snippet {
                    margin: 16px 0;
                    padding: 10px;
                    color: themed('typography-color-primary');
                    border: 1px solid themed('tab-border-bottom-color');
                    border-radius: 4px;
                    overflow: auto;
                    > pre {
                        margin: 0;
                    }
                }
                > .config-box {
                    overflow: auto;
                    padding: 16px;
                    border-radius: 4px;
                    background-color: themed('note-background');
                    line-height: 1.5;
                }
            }
            .loading {
                position: absolute;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100%;
                background: themed('loading-page-background-color');
                color: themed('loading-page-font-color');
                display: flex;
                align-items: center;
                justify-content: center;

                > .layer {

                    > * {
                        text-align: center;
                    }
                    > .title {
                        font-size: 24px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
