$themes: (
    classic: (
        page-title-color: #232323,
        border-color: #dadada,
        typography-color-primary: #212121,
        header-shadow-color: rgba(0, 0, 0, 0.14),
    ),
    dark: (
        page-title-color: #d3d3d3,
        border-color: #4e4e4e,
        typography-color-primary: #e8e8e8,
        header-shadow-color: rgba(0, 0, 0, 0.06),
    ),
);

@import '~@common/scss/themes.scss';
