@import '../themes.scss';

.top-menu {
  @include themify($themes) {
    display: flex;
    border-bottom: 1px solid themed('top-menu-border-color');

    > * {
      flex: 1;
    }
    > .title {
      padding: 24px 21px;
      font-size: 20px;
      line-height: 1;
      max-height: 20px;
      max-width: 600px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: themed('top-menu-font-color');
    }
    > .tools {
      padding: 16px 21px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .separator {
        height: 16px;
        vertical-align: middle;
        align-self: center;
        display: inline-flex;
        margin: 0 6px;
        border-right: 1px solid themed('top-menu-border-color');
      }
    }

    ::v-deep .aries-ui-dropdown {
      text-align: left;
    }

    ::v-deep .aries-ui-window {
      text-align: left;
    }
  }
}
