body {
  overflow: hidden;
  padding: 0px;

  .row-new {
    display: flex;
    > * {
      flex: 1;
    }

    .aries-ui-btn {
      margin: 14px;
    }
  }
  .splitter {
    height: 26px;
    line-height: 26px;
    padding: 0px 16px;

    .title {
      font-weight: bold;
    }
    .description {
      margin-left: 16px;
    }
    .resizer {
      cursor: n-resize;
    }
  }

  .tab-wrapper {
    margin-top: 3px;
  }
}

body.classic {
  $layoutBorderColor: #ddd;
  $splitterBackgroundColor: #f5f5f5;
  $splitterFontColor: #333;
  
  @import "theme.scss";
}

body.dark {
  $layoutBorderColor: #404040;
  $splitterBackgroundColor: #1c1c1c;
  $splitterFontColor: #d5d5d5;

  @import "theme.scss";
}