@mixin search-condition {
    position: relative;
    width: 100%;
    height: 235px;

    > * {
      position: absolute;
      display: inline-block;
    }
    > .left {
      left: 0px;
      top: 0px;
    }
    > .center {
      left: 515px;
      top: 100px;
    }
    > .right {
      right: 34px;
      width: calc(100% - 590px);
      height: 201px;
    }
}