@import "~@common/scss/themes.scss";

$themes: (
        classic: (
                'window-table-choice-menu-font-color': #616161,
                'window-table-choice-menu-border-color': #e8e8e8,
        ),
        dark: (
                'window-table-choice-menu-font-color': #999,
                'window-table-choice-menu-border-color': #3e3e3e,
        )
);

@mixin table-choice {
  @include themify($themes) {
    .contents {
      display: flex;
      margin-top: 14px;
      padding: 22px;
      > div {
        flex: 1;
        &:not(:last-child) {
          padding-right: 46px;
        }
        > .category {
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 16px;
          border-bottom: 1px solid
          themed('window-table-choice-menu-border-color');
        }
        > .menu {
          font-size: 14px;
          padding: 18px 0px;
          color: themed('window-table-choice-menu-font-color');
          border-bottom: 1px solid
          themed('window-table-choice-menu-border-color');
          > span {
            display: inline-block;
            max-width: 230px;
            overflow: hidden;
            white-space: normal;
          }
          ::v-deep .aries-ui-btn {
            float: right;
          }
        }
      }
    }
  }
}