@import "~@common/scss/themes.scss";

$themes: (
        classic: (
                'top-bar-font-color': #212121,
                'top-bar-border-color': #d8d8d8,
                'top-bar-background-color': #fff,
        ),
        dark: (
                'top-bar-font-color': #e8e8e8,
                'top-bar-border-color': #4e4e4e,
                'top-bar-background-color': #1c1c1c,
        )
);

@mixin top-bar {
  @include themify($themes) {
    display: flex;
    height: 52px;
    line-height: 52px;
    padding: 0px 24px 4px 24px;
    background-color: themed('top-bar-background-color');
    border-bottom: 1px solid themed('top-bar-border-color');

    > * {
      flex: 1;

      &.left {
        position: relative;
        > .title {
          position: absolute;
          font-size: 14px;
          left: 40px;
          top: 1px;
          color: themed('top-bar-font-color');
        }
      }
      &.right {
        text-align: right;

        > .blank {
          display: inline-block;
          width: 8px;
        }
        > .line {
          display: inline-block;
          width: 1px;
          height: 16px;
          margin-bottom: -5px;
          background-color: themed('top-bar-border-color');
        }

        ::v-deep .border-none {
          margin-left: 0px;
        }
      }
    }
  }
}
