$themes: (
        classic: (
                common-subject-font-color: #212121,
                common-description-font-color: #616161,
                common-border-color: #e8e8e8,
                instance-selector-border-color: #e8e8e8,
                instance-selector-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
                instance-bar-item-font-color: #616161,
                instance-bar-item-checked-font-color: #6330ee,
                instance-bar-item-selected-font-color: #212121,
                instance-bar-item-checked-background-color: #ede2ff,
                instance-bar-item-selected-background-color: rgba(0, 0, 0, 0.16),
                instance-bar-item-checked-and-selected-background-color: #c6bdd6,
                instance-bar-item-hover-background-color: rgba(0, 0, 0, 0.05),
                profile-queue-border-color: #e8e8e8,
                profile-queue-btn-bg-color: #ffffff,
                profile-queue-behaviors-hover-color: rgba(0, 0, 0, 0.05),
                profile-queue-typography-color-primary: #212121,
                profile-queue-item-shadow-color: rgba(0, 0, 0, 0.05),
        ),
        dark: (
                common-subject-font-color: #e8e8e8,
                common-description-font-color: #999,
                common-border-color: #4e4e4e,
                instance-selector-border-color: #4e4e4e,
                instance-selector-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
                instance-bar-item-font-color: #999,
                instance-bar-item-checked-font-color: #a47cff,
                instance-bar-item-selected-font-color: #e8e8e8,
                instance-bar-item-checked-background-color: #35294d,
                instance-bar-item-selected-background-color: rgba(255, 255, 255, 0.16),
                instance-bar-item-checked-and-selected-background-color: #554b69,
                instance-bar-item-hover-background-color: rgba(255, 255, 255, 0.08),
                profile-queue-border-color: #4e4e4e,
                profile-queue-btn-bg-color: #1c1c1c,
                profile-queue-behaviors-hover-color: rgba(255, 255, 255, 0.05),
                profile-queue-typography-color-primary: #e8e8e8,
                profile-queue-item-shadow-color: rgba(0, 0, 0, 0.3),
        )
);

@import '~@common/scss/themes.scss';