@import '~@common/scss/themes.scss';
$themes: (
		classic: (
				border-color: #e8e8e8,
				typography-color-primary: #212121,
				typography-color-grey1: #616161,
				border-shadow-color: rgba(0, 0, 0, 0.08),
		),
		dark: (
				border-color: #4e4e4e,
				typography-color-primary: #e8e8e8,
				typography-color-grey1: #999999,
				border-shadow-color: rgba(0, 0, 0, 0.5),
		),
);

.db-search-wrapper {
	height: 100%;
	overflow: hidden;
    padding: 0px 24px;

	@include themify($themes) {
		.db-search-navigator {
			margin-top: 24px;
		}
		.aries-ui-navigation-bar {
			margin-top: 16px;
		}
		.search-condition-wrapper {
			box-sizing: border-box;
			border: 1px solid themed('border-color');
			border-radius: 4px;
			height: 274px;
			margin-top: 8px;
			display: flex;
			flex-direction: column;

			.upper {
				flex: 1;
				display: flex;

				.resource-metric-group {
					display: flex;
					box-sizing: border-box;
					padding: 16px;
					align-items: center;

					> :not(:last-child) {
						margin-right: 8px;
					}

					> .aries-ui-btn:last-child {
						margin-right: -8px;
					}
				}

				.condition-list-wrapper {
					flex: 1;
					overflow: hidden;
					border-left: 1px solid themed('border-color');

					.floating-btn-wrapper {
						padding: 8px;

						&.scrolling {
							box-shadow: 0 3px 5px -2px themed('border-shadow-color');
						}
					}
				}
			}

			.footer {
				height: 52px;
				padding: 0 8px;
				border-top: 1px solid themed('border-color');
				display: flex;
				justify-content: flex-end;
				align-items: center;

				&.overflow {
					box-shadow: 0 -3px 5px -2px themed('border-shadow-color');
				}
			}

			&.expanded {
				height: 328px;
			}
		}
		.search-result-wrapper {
			margin-top: 8px;
			position: relative;

			.header {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 36px;
				margin-bottom: 8px;

				.search-count-label {
					margin-right: 12px;
					font-size: 12px;
					color: themed('typography-color-grey1');
					display: inline-flex;
					align-items: center;

					> .alert-icon {
						margin-left: 8px;
					}
				}

				.btn-group {
					.aries-ui-btn + .aries-ui-btn {
						margin-left: 0 !important;
					}
				}
			}
		}
	}
}