@import '~@vuejs/component/themes.scss';
@mixin table-style {
	@include themify($themes) {
		.status-badge {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-right: 4px;
			border-radius: 50%;
			background-image: none !important;

			&.fatal {
				background-color: #ff4f55;
			}

			&.warning {
				background-color: #fddd2f;
			}

			&.normal {
				background-color: #497eff;
			}
		}
		.link {
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			height: 18px;
			line-height: 18px;

			&.more {
				font-weight: normal;
				padding: 0 4px;
				margin-right: 4px;
				background-color: themed('badge-background-skyblue');
			}

			&.transaction {
				padding: 0 8px;

				&:hover {
					background-color: themed('behaviors-hover-color');
				}

				&:active {
					background-color: themed('behaviors-press-color');
				}
			}
		}
	}
}