$themes: (
  classic: (
          information-border-color: #e8e8e8,
          information-background-color: #e8e8e8,
          information-background-image: linear-gradient(to bottom, #ffffff, #f5f5f5)
  ),
  dark: (
          information-border-color: #4d4d4d,
          information-background-color: #2c2c2c,
          information-background-image: linear-gradient(to bottom, #303030, #272727)
  )
);

@import '~@common/scss/themes.scss';