@font-face {
  font-family: 'Noto Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Mono'), url('./asset/noto-mono.woff') format('woff');
}

@font-face {
  font-family: 'Topology Icon';
  src: url('./asset/topology.woff') format('woff');
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  .xviewAnalysis {
    height: inherit;
  }
}