html {
    height: 100%;
    body {
        height: 100%;
        #app {
            height: 100%;
        }
    }
}

.jennifer-front-logo:hover:after {
    border-radius: 3px;
    line-height: 16px;
    content: attr(tooltip);
    position: absolute;
    padding: 12px 10px;
    font-size: 11px;
    z-index: 9999;
    left: 10px;
    top: 26px;
    width: 154px;
}

body.classic {
    $logoTooltipBoxColor: rgb(90, 90, 90);
    $logoTooltipTextColor: rgb(255, 255, 255);

    @import 'theme';
}

body.dark {
    $logoTooltipBoxColor: #434343;
    $logoTooltipTextColor: rgb(255, 255, 255);

    @import 'theme';
}
