$themes: (
    classic: (
        layout-border-color: #e8e8e8,
        no-data-page-logo-background-color: rgba(0, 0, 0, 0.1),
        loading-page-background-color: #f9f9f9,
        loading-page-font-color: #616161,
        detail-window-pre-border-color: #e8e8e8,
        group-view-title-font-color: #212121,
        group-chart-active-background-color: #ede2ff,
        group-chart-hover-background-color: rgba(0, 0, 0, 0.05),
        group-chart-graph-background-color: rgba(0, 0, 0, 0.06),
        text-tab-background-color: #f6f6f6,
        section-tab-chart-border-color: #dadada,
        section-tab-chart-item-font-color: #212121,
        section-tab-chart-item-graph-background-color: rgba(0, 0, 0, 0.06),
        section-tab-chart-item-hover-background-color: rgba(0, 0, 0, 0.05),
        section-tab-chart-item-active-background-color: #ede2ff,
        section-tab-chart-item-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.08),
        section-tab-chart-item-circle-font-color: #212121,
        section-tab-chart-item-line-border-color: #d8d8d8,
        section-tab-chart-item-text-font-color: #898989,
        section-tab-chart-fold-item-graph-background-color: #d0d0d0,
        stacktrace-tab-menu-active-background-color: #ede2ff,
        stacktrace-tab-menu-active-font-color: #6330ee,
        stacktrace-tab-font-color: #616161,
        stacktrace-tab-text-information-background-color: #f3f3f3,
        stacktrace-tab-text-information-font-color: #999,
        stacktrace-tab-editor-background-color: #fff,
        stacktrace-tab-editor-border-color: #e8e8e8,
        stacktrace-tab-time-border-color: #e8e8e8,
        stacktrace-tab-time-row-active-font-color: #6330e0,
        stacktrace-tab-time-row-active-background-color: #ede2ff,
        stacktrace-tab-time-row-hover-background-color: rgba(0, 0, 0, 0.05),
        cics-tab-box-border-color: #e8e8e8,
        cics-tab-font-color: #212121,
        topology-minimap-background-color: #fff,
        topology-table-selected-row-background-color: #ede2ff,
        transaction-table-chart-border-color: #dadada,
        method-profile-window-border-color: #dcdcdc,
        async-detail-view-background-color: #fff,
        async-detail-view-font-color: #212121,
        calltree-icon-open-asset-url: url('./asset/icon-open_classic.svg'),
        calltree-icon-close-asset-url: url('./asset/icon-close_classic.svg'),
    ),
    dark: (
        layout-border-color: #3e3e3e,
        no-data-page-logo-background-color: rgba(255, 255, 255, 0.1),
        loading-page-background-color: #1c1c1c,
        loading-page-font-color: #999,
        detail-window-pre-border-color: #3e3e3e,
        group-view-title-font-color: #e8e8e8,
        group-chart-active-background-color: #281e3b,
        group-chart-graph-background-color: rgba(255, 255, 255, 0.06),
        text-tab-background-color: #212121,
        section-tab-chart-border-color: #3e3e3e,
        section-tab-chart-item-font-color: #e8e8e8,
        section-tab-chart-item-graph-background-color: rgba(255, 255, 255, 0.06),
        section-tab-chart-item-hover-background-color: rgba(255, 255, 255, 0.05),
        section-tab-chart-item-active-background-color: #281e3b,
        section-tab-chart-item-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.3),
        section-tab-chart-item-circle-font-color: #fff,
        section-tab-chart-item-line-border-color: #666,
        section-tab-chart-item-text-font-color: #999,
        section-tab-chart-fold-item-graph-background-color: #00a94e,
        stacktrace-tab-menu-active-background-color: #281e3b,
        stacktrace-tab-menu-active-font-color: #ad75ff,
        stacktrace-tab-font-color: #999,
        stacktrace-tab-text-information-background-color: #393939,
        stacktrace-tab-text-information-font-color: #707070,
        stacktrace-tab-editor-background-color: #212121,
        stacktrace-tab-editor-border-color: #3e3e3e,
        stacktrace-tab-time-border-color: #3e3e3e,
        stacktrace-tab-time-row-active-font-color: #ad75ff,
        stacktrace-tab-time-row-active-background-color: #281e3b,
        stacktrace-tab-time-row-hover-background-color:
            rgba(255, 255, 255, 0.05),
        cics-tab-box-border-color: #3e3e3e,
        cics-tab-font-color: #e8e8e8,
        topology-minimap-background-color: #292929,
        topology-table-selected-row-background-color: #281e3b,
        transaction-table-chart-border-color: #4e4e4d,
        method-profile-window-border-color: #4e4e4e,
        async-detail-view-background-color: #292929,
        async-detail-view-font-color: #e8e8e8,
        calltree-icon-open-asset-url: url('./asset/icon-open_dark.svg'),
        calltree-icon-close-asset-url: url('./asset/icon-close_dark.svg'),
    ),
);

@import '~@common/scss/themes.scss';
