#vue-app {
    height: 100%;

    > .head {
        margin-bottom: 16px;
        > .tab-wrapper {
            margin: 24px 24px 0px;
        }
    }

    > .body {
        position: relative;
        padding: 0px 24px;
        > .aries-loading-indicator {
            top: -19px !important;
        }
    }
}
