@import '~@common/scss/themes.scss';

$themes: (
    classic: (
        active-score-fatal-background-color: #ff4f55,
        active-score-warn-background-color: #ff9900,
        active-score-info-background-color: #49d484,
        active-score-normal-background-color: #497eff,
        detail-table-link-background-color: #cce4f9,
        detail-table-link-font-color: #222,
    ),
    dark: (
        active-score-fatal-background-color: #ff4f55,
        active-score-warn-background-color: #ff9900,
        active-score-info-background-color: #49d484,
        active-score-normal-background-color: #497eff,
        detail-table-link-background-color: #4986e7,
        detail-table-link-font-color: #fff,
    ),
);

@mixin active-score-cell {
    @include themify($themes) {
        ::v-deep tr {
            span.detail-link {
                cursor: pointer;
                border-radius: 3px;
                height: 18px;
                padding: 0px 4px;
                background-color: themed('detail-table-link-background-color');
                color: themed('detail-table-link-font-color');
            }

            span.status-link {
                cursor: pointer;
                text-decoration: underline;
            }

            i.score {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 12px;

                &.fatal {
                    background-color: themed(
                        'active-score-fatal-background-color'
                    );
                }

                &.warn,
                &.warning {
                    background-color: themed(
                        'active-score-warn-background-color'
                    );
                }

                &.info {
                    background-color: themed(
                        'active-score-info-background-color'
                    );
                }

                &.normal {
                    background-color: themed(
                        'active-score-normal-background-color'
                    );
                }
            }
        }
    }
}
