.search-condition {
  > div ul {
    color: $performanceSearchConditionRowFontColor;

    &.selected {
      background: $performanceSearchConditionRowSelectColor;
    }

    &:hover:not(.selected) {
      background: $performanceSearchConditionRowHoverColor;
    }
  }

  .search-list {
    .row {
      border-bottom: $performanceSearchListBorderColor 1px solid;

      input:not(:checked) + .slider{
        background-color: rgba(154, 154, 154, 0.5) !important;
      }

      .slider:before {
        background-color: rgb(255, 255, 255);
      }

      .icon-x-mark, .icon-download {
        color: $canvasChartLinkColor;
      }

      .icon-x-mark:hover, .icon-download:hover {
        color: $canvasChartLinkHoverColor;
      }

      .icon-back {
        color: #8945ee;
      }
    }
  }
}

.chart {
  .icon-help {
    color : $performanceSearchChartIconHelpColor;
  }
}