@import "~@common/scss/themes.scss";

$themes: (
        classic: (
                'title-font-color': #212121,
        ),
        dark: (
                'titile-font-color': #e8e8e8,
        )
);

@mixin window-sub-title {
  @include themify($themes) {
    ::v-deep .head {
      > .title {
        color: themed('title-font-color') !important;
        text-align: left !important;
      }
    }
  }
}
