$themes: (
  classic: (
    'layout-background-color': #f6f6f6,
    'layout-border-color': #e8e8e8,
    'side-menu-font-color': #616161,
    'side-menu-all-font-color': #999,
    'side-menu-active-font-color': #6330ee,
    'side-menu-active-background-color': #ede2ff,
    'side-menu-hover-background-color': rgba(0, 0, 0, 0.05),
    'top-menu-border-color': #e8e8e8,
    'top-menu-font-color': #212121,
    'report-table-font-color': #999,
    'report-table-link-font-color': #6330ee,
  ),
  dark: (
    'layout-background-color': #292929,
    'layout-border-color': #424242,
    'side-menu-font-color': #999,
    'side-menu-all-font-color': #707070,
    'side-menu-active-font-color': #a47cff,
    'side-menu-active-background-color': #35294d,
    'side-menu-hover-background-color': rgba(255, 255, 255, 0.05),
    'top-menu-border-color': #4e4e4e,
    'top-menu-font-color': #e8e8e8,
    'report-table-font-color': #999,
    'report-table-link-font-color': #6330ee,
  )
);

@import '~@common/scss/themes.scss';