.report {
  .report-editor {
    position: relative;

    > .prevent-layer {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    > .note-editor.note-frame {
      border: 0 !important;
      border-radius: 8px !important;
      padding: 16px !important;
      background-color: #ffffff !important;
      box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.05) !important;

      /* 에디터 안에서 차트 루트 엘리먼트의 position을 static으로 고정해야 한다. */
      .jui-metadata {
        position: static !important;
      }

      .chart-type {
        width: 100%;
        height: 255px;
        cursor: pointer;
        border: 1px dashed #888888;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-image: none;
        &.loading {
          background-image: url("./asset/loading.svg");
        }
        &.timeout {
          background-image: url("./asset/timeout.png");
        }
        &.error {
          background-image: url("./asset/error.png");
        }
      }

      /* 툴바 관련 스타일 */
      .note-toolbar {
        margin-bottom: 16px !important;
        border-radius: 5px !important;
        border: 1px solid #999999 !important;
        background-color: transparent !important;

        > .note-btn-group {
          button {
            border: 0;
          }
          &.note-jennifer {
            button {
              padding: 7px 10px 3px 10px;
            }
          }
        }
      }

      /* 이미지 팝오버 관련 스타일 */
      .note-image-popover {
        .note-remove {
          button:last-child {
            padding: 7px 10px 3px 10px;
          }
        }
      }

      /* 에디터 하단 바 영역 */
      .note-statusbar {
        display: none !important;
      }

      /* 에디터 본문 */
      .note-editable {
        padding: 0px 5px !important;
      }

      /* 아이콘 설정 */
      [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: cover;

        &.icon-edit {
          background-image: url("./asset/icon-edit.svg");
        }
        &.icon-chart {
          background-image: url("./asset/icon-chart.svg");
        }
        &.icon-table {
          background-image: url("./asset/icon-table.svg");
        }
      }
    }

    @import "./editor/main.css";
    @import "~summernote/dist/summernote-lite.css";
  }

  .alert-window {
    z-index: 2001;
  }
}