@import "../../template/edit/base.scss";

.report {
  &.classic {
    .report-layout {
      border: 1px solid #d1d1d1;
    }
  }
  &.dark {
    .report-layout {
      border: 1px solid #4d4d4d;
    }
  }

  .report-layout {
    opacity: 0;
    margin-top: 20px;
    border-radius: 5px;

    > .report-title {
      color: #d5d5d5;
      border-radius: 5px 5px 0 0;
      height: 48px;
      background-color: #232323;
      background-image: linear-gradient(to bottom, #272727, #1c1c1c);
      background-repeat: repeat-x;

      input[type=text] {
        color: inherit;
        display: flex;
        flex-grow: 1;
        border-width: 0px;
        background-color: transparent;
      }

      .toggle {
        margin-top: 12px;
        margin-right: 12px;
        float: right;
      }

      .icon-edit {
        font-size: 14px;
        cursor: pointer;
      }

      span {
        line-height: 48px;
        font-size: 16px;
        font-weight: bold;
        margin-left: 20px;
        padding: 0 !important;
      }
    }

    > .report-editor {
      .note-editor.note-frame {
        background-color: #fff !important;
        border: 0px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;

        .note-editable {
          overflow-x: hidden;
          /* 에디터 안에서 차트 루트 엘리먼트의 position을 static으로 고정해야 한다. */
          .jui-metadata {
            position: static !important;
          }
          /* 보고서 안의 테이블은 스타일을 고정한다. 기존의 문서들 호환성 때문에 유지한다. */
          .table.simple > tbody > tr {
            background: transparent !important;
            > td {
              color: #000 !important;
            }
          }
        }

        .note-toolbar {
          background-color: transparent !important;
          > .note-btn-group {
            button {
              border: 0;
            }
          }
        }
      }

      @import "../../template/edit/editor/main.css";
      @import "~summernote/dist/summernote-lite.css";
    }
  }

  .aries-ui-alert {
    position: absolute;
    top: 90px;
    opacity: 0;
    border-radius: 0px !important;
    &.show {
      animation-name: fadeIn;
      animation-duration: 2.5s;
      animation-timing-function: ease-out;
    }
  }
}