.viewType {
  > .label-group {
    color: $codeDiffLabelFontColor;

    > span {
      i.delete {
        background-color: $codeDiffLabelDeleteBackgroundColor;
      }

      i.add {
        background-color: $codeDiffLabelInsertBackgroundColor;
      }
    }
  }
}

table.diff {
  margin-bottom: 20px;

  tbody {
    tr {
      &:first-child {
        > th, > td {
          border-top-color: $codeDiffTableBorderColor;
        }
      }

      &:last-child {
        > th, > td {
          border-bottom-color: $codeDiffTableBorderColor;
        }
      }
    }

    th {
      background-color: $codeDiffThBackgroundColor;
      border-left-color: $codeDiffTableBorderColor;
      border-right-color: $codeDiffTableBorderColor;
    }

    td {
      &:last-child {
        border-right-color: $codeDiffTableBorderColor;
      }
    }

    th.equal {
      color: $codeDiffThEqualFontColor;
    }
    td.equal {
      color: $codeDiffTdEqualFontColor;
    }

    th.delete {
      background-color: $codeDiffThDeleteBackgroundColor;
    }
    td.delete {
      background-color: $codeDiffTdDeleteBackgroundColor;
    }
    .delete {
      border-left-color: $codeDiffDeleteBorderColor;
      border-right-color: $codeDiffDeleteBorderColor;
    }

    th.insert {
      background-color: $codeDiffThInsertBackgroundColor;
    }
    td.insert {
      background-color: $codeDiffTdInsertBackgroundColor;
    }
    .insert {
      border-left-color: $codeDiffInsertBorderColor;
      border-right-color: $codeDiffInsertBorderColor;
    }

    th.empty {
      background-color: $codeDiffThEmptyBackgroundColor;
    }
    td.empty {
      background-color: $codeDiffTdEmptyBackgroundColor;
    }
    .empty {
      border-left-color: $codeDiffEmptyBorderColor;
      border-right-color: $codeDiffEmptyBorderColor;
    }

    /*td.replace {*/
    /*    background-color: #FD8*/
    /*}*/

    /*TODO: 언제 사용하는걸까? */
    td.skip {
      background-color: #EFEFEF;
      border:1px solid #AAA;
      border-right:1px solid #BBC;
    }
  }
}

table.diff:not(.inlinediff) {
  tbody {
    tr {
      > th.replace:nth-child(1) {
        background-color: $codeDiffThDeleteBackgroundColor;
        border-left-color: $codeDiffDeleteBorderColor;
        border-right-color: $codeDiffDeleteBorderColor;
      }
      > td.replace:nth-child(2) {
        background-color: $codeDiffTdDeleteBackgroundColor;
      }

      > th.replace:nth-child(3) {
        background-color: $codeDiffThInsertBackgroundColor;
        border-left-color: $codeDiffInsertBorderColor;
        border-right-color: $codeDiffInsertBorderColor;
      }
      > td.replace:nth-child(4) {
        background-color: $codeDiffTdInsertBackgroundColor;
      }

      > th.empty {
        background-color: $codeDiffThEmptyBackgroundColor;
        border-left-color: $codeDiffEmptyBorderColor;
        border-right-color: $codeDiffEmptyBorderColor;
      }
      > td.empty {
        background-color: $codeDiffTdEmptyBackgroundColor;
        border-left-color: $codeDiffEmptyBorderColor;
        border-right-color: $codeDiffEmptyBorderColor;
      }
    }
  }
}