.title {
  background-color: $titleBackgroundColor;
  border-bottom: 1px solid $splitterBorderColor;

  > .top {
    border-bottom: 1px solid $splitterBorderColor;
    > .left {
      color: $titleFontColor;
    }
  }

  > .bottom {
    > .tabs, > .text {
      border-left: 1px solid $splitterBorderColor;
    }
  }
}

.tab {
  color: $splitterFontColor;
  background-color: $splitterBackgroundColor;
  border-top: 1px solid $splitterBorderColor;
  border-bottom: 1px solid $splitterBorderColor;
}

.title, .tab {
  .menu.active {
    color: $splitterActiveFontColor;
    border-bottom: 2px solid $menuActiveBorderColor;
  }
}

.top {
  > .schema {
    background: $schemaBackgroundColor;
    border-left: 1px solid $splitterBorderColor;

    > .menus {
      border-bottom: 1px solid $splitterBorderColor;
      > .menu {
        &.active {
          border-bottom: 2px solid $menuActiveBorderColor;
        }
      }
    }
  }
}

.output {
  background-color: $outputBackgroundColor;
}

.aries-ui-window {
  .title {
    border: 0;
  }
}