@import "~@common/scss/themes.scss";
$themes: (
        classic: (
                inline-btn-color: #616161,
                inline-btn-border-color: #dadada,
        ),
        dark: (
                inline-btn-color: #999999,
                inline-btn-border-color: #4e4e4e,
        ),
);
@mixin stacktrace-cell {
        @include themify($themes) {
                ::v-deep td {

                        &:last-of-type {
                                padding: 5px 9px !important;
                        }

                        .round-btn {

                                display: inline-block;
                                height: 22px;
                                line-height: 22px;
                                font-size: 12px;
                                cursor: pointer;
                                padding: 0 24px;
                                border-radius: 13px;
                                color: #fff;

                                &.receive-stack {
                                        color: themed('inline-btn-color');
                                        border: 1px solid themed('inline-btn-border-color');
                                }

                                &.wait-stack {
                                        background: #ff9900;
                                        cursor: default;
                                }

                                &.show-stack {
                                        background: #49d484;
                                }
                        }

                        .badge {
                                border-radius: 4px;
                                padding: 0 4px;
                                color: #fff;

                                &.IN {
                                        background: #00d97b;
                                }

                                &.OUT {
                                        background: #8652ff;
                                }
                        }
                }
        }
}
