@import '~@common/scss/themes.scss';

$themes: (
    classic: (
        text-color: #616161,
    ),
    dark: (
        text-color: #999999,
    ),
);

.userAgent {
    @include themify($themes) {
        .user-agent-navigation-bar {
            margin-top: 24px;
            .tilde {
                color: themed('text-color');
            }
        }
        .user-agent-category {
            position: relative;
            margin-top: 12px;

            .detail-filter-btn {
                position: absolute;
                right: 0;
                top: 12px;
            }
        }
        .user-agent-result {
            display: flex;
            justify-content: space-between;

            .left {
                flex: 1;
                padding-right: 40px;
            }

            .right {
                width: 33%;
            }

            .title {
                display: flex;
                justify-content: space-between;
                padding: 24px 0 12px;
            }
            .icon-legend {
                color: themed('text-color');
            }
        }
    }
}
