$themes: (
    classic: (
        common-subject-font-color: #212121,
        common-message-font-color: #616161,
        common-border-color: #e8e8e8,
        back-button-background-color: #616161,
        tree-menu-hover-background-color: rgba(0, 0, 0, 0.05),
    ),
    dark: (
        common-subject-font-color: #e8e8e8,
        common-message-font-color: #999,
        common-border-color: #4e4e4e,
        back-button-background-color: #999,
        tree-menu-hover-background-color: rgba(255, 255, 255, 0.05),
    ),
);

@import '~@common/scss/themes.scss';
