@mixin async-toolbar {
  > .toolbar {
    position: relative;
    height: 19px;

    > .right {
      position: absolute;
      right: 17px;
      top: 4px;

      > span {
        display: inline-flex;
        vertical-align: middle;

        &.domain {
          font-size: 11px;

          &:first-child {
            margin-right: 8px;
          }

          &:last-child {
            margin-left: 8px;
          }
        }

        &.slider {
          width: 260px;
        }
      }
    }
  }
}