/* TODO: 서머노트 패치가 되면 제거할 것!!! */
a.close {
  &:not(.btn) {
    font-size: 13px !important;
    color: inherit !important;
  }
  &.btn {
    float: none;
  }
  opacity: 1 !important;
}
i.close {
  font-size: 12px !important;
  opacity: 1 !important;
  color: inherit !important;
}
i.theme {
  position: absolute;
  right: 22px;
  font-size: 12px;
  cursor: pointer;
}
#management {
  i.close {
    margin: 3px 0 0 2px;
    color: inherit;
  }
}

/* summernote 관련 스타일 */
.sn-checkbox-open-in-new-window > label {
  width: 540px;
}

/* alert 애니메이션 효과 정의 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
