$themes: (
    classic: (
        'common-font-color': #212121,
        'common-border-color': #d8d8d8,
        'common-background-color': #fff,
        'layered-btn-background-color': rgba(0, 0, 0, 0.05),
        'layered-btn-icon-color': #616161,
        'search-condition-border-color': #b5b5b5,
        'search-condition-row-border-color': #e2e2e2,
        'template-setting-new-document-border-color': #c8c8c8,
        'template-setting-new-document-active-border-color': #884ae4,
        'window-title-font-color': #616161,
        'window-chart-choice-icon-color': #000,
        'window-chart-choice-line-icon-color': #fbeecc,
        'window-chart-choice-bar-icon-color': #cce7e1,
        'window-chart-choice-pie-icon-color': #cce4f9,
        'window-template-setting-side-border-color': #e8e8e8,
        'window-template-setting-side-item-active-block-background-color':
            #ede2ff,
        'window-template-setting-side-item-active-block-border-color': #8652ff,
        'window-template-setting-side-item-block-background-color': #f5f5f5,
        'window-template-setting-side-item-image-box-shadow': 0 1px 2px 0
            rgba(0, 0, 0, 0.1),
        'window-template-setting-side-item-image-background-color': #ffffff,
        'window-template-setting-side-item-image-border-color': #dadada,
        'window-template-setting-side-item-image-icon-color': #999,
        'window-build-config-message-font-color': #616161,
        'window-build-config-manual-border-color': #e8e8e8,
        'label-with-dropdown-background-color': #ebebeb,
        'label-with-dropdown-border-color': #dadada,
        'search-config-toolbar-font-color': #616161,
        'search-config-toolbar-background-color': #f3f3f3,
        'search-config-toolbar-btn-background-color': rgba(0, 0, 0, 0.05),
        'oid-config-prevent-layer-background-color': #000,
    ),
    dark: (
        'common-font-color': #e8e8e8,
        'common-border-color': #4e4e4e,
        'common-background-color': #1c1c1c,
        'layered-btn-background-color': rgba(255, 255, 255, 0.05),
        'layered-btn-icon-color': #999,
        'search-condition-border-color': #4d4d4d,
        'search-condition-row-border-color': #404040,
        'template-setting-new-document-border-color': #c8c8c8,
        'template-setting-new-document-active-border-color': #884ae4,
        'window-title-font-color': #999,
        'window-chart-choice-icon-color': #fff,
        'window-chart-choice-line-icon-color': #ffbf17,
        'window-chart-choice-bar-icon-color': #16a085,
        'window-chart-choice-pie-icon-color': #4986e7,
        'window-template-setting-side-border-color': #4e4e4e,
        'window-template-setting-side-item-active-block-background-color':
            #281e3b,
        'window-template-setting-side-item-active-block-border-color': #8652ff,
        'window-template-setting-side-item-block-background-color': #202020,
        'window-template-setting-side-item-image-box-shadow': 0 1px 2px 0
            rgba(255, 255, 255, 0.1),
        'window-template-setting-side-item-image-background-color': #000,
        'window-template-setting-side-item-image-border-color': #4e4e4d,
        'window-template-setting-side-item-image-icon-color': #707070,
        'window-build-config-message-font-color': #999,
        'window-build-config-manual-border-color': #4e4e4e,
        'label-with-dropdown-background-color': #303030,
        'label-with-dropdown-border-color': #4e4e4d,
        'search-config-toolbar-font-color': #999,
        'search-config-toolbar-background-color': #393939,
        'search-config-toolbar-btn-background-color': rgba(255, 255, 255, 0.05),
        'oid-config-prevent-layer-background-color': #fff,
    ),
);

@import '~@common/scss/themes.scss';
