.slide-right-leave-to,
.slide-left-leave-to {
	opacity: 0;
}

.slide-right-leave-to,
.slide-left-enter {
	position: absolute;
	transform: translateX(100%);
}

.slide-left-leave-to,
.slide-right-enter {
	position: absolute;
	transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-leave-active,
.slide-left-enter-active {
	transition: opacity .4s, transform .55s ease-in-out;
}