$themes: (
  classic: (
          main-border-color: #e8e8e8,
          textarea-font-color: #333,
          textarea-background-color: #f6f6f6,
          parameter-font-color: #999,
  ),
  dark: (
          main-border-color: #4e4e4e,
          textarea-font-color: #e8e8e8,
          textarea-background-color: #212121,
          parameter-font-color: #707070,
  )
);

@import '~@common/scss/themes.scss';