.performanceBrowser {
  .box-type1 {
    &:first-child {
      position: relative;

      #search {
        position: absolute;
        right: 10px;
        bottom: 6px;
      }
    }
  }

  .search-condition {
    > div ul:hover {
      cursor: pointer;
    }

    .search-list {
      .row {
        clear: both;
        overflow: hidden;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 30px;
        font-size: 12px;

        li {
          float: left;
          list-style: none outside none;

          i {
            font-style: normal;
            margin: 4px 5px 0 0;
          }


          .condition-label {
            margin: 3px 5px 0 8px;
          }

          /* 스위치 버튼 시작  */
          .switchBtn {
            position: relative;
            display: inline-block;
            width: 17px;
            height: 10px;
            margin: 6px 5px 0 0;
          }


          .switchBtn input {display:none;}

          .slider {
            border-radius: 10px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            -webkit-transition: .4s;
            transition: .4s;
          }

          .slider:before {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 6px;
            width: 6px;
            left: 2px;
            bottom: 2px;
            -webkit-transition: .4s;
            transition: .4s;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(8px);
            -ms-transform: translateX(8px);
            transform: translateX(8px);
          }

          /* 스위치 슬라이더 끝  */
        }
      }
    }
  }

  .preventClick {
    position: absolute;
    height: 170px;
    z-index: 10000;
  }

  .box-component {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.5;
  }

  .screen-folder {
    margin-top: -1px;
    margin-bottom: 15px;
  }

  .screen-folder-target {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

body.classic .performanceBrowser {
  $performanceSearchConditionRowFontColor: #333;
  $performanceSearchConditionRowSelectColor: #ddd0ee;
  $performanceSearchConditionRowHoverColor: #e2e2e2;
  $performanceSearchListBorderColor: #e2e2e2;
  $performanceSearchChartIconHelpColor: #666;
  $canvasChartLinkColor : #999999;
  $canvasChartLinkHoverColor : #494949;

  @import 'theme';
}

body.dark .performanceBrowser {
  $performanceSearchConditionRowFontColor: #fff;
  $performanceSearchConditionRowSelectColor: #624499;
  $performanceSearchConditionRowHoverColor: #333333;
  $performanceSearchListBorderColor: #444444;
  $performanceSearchChartIconHelpColor: #999999;
  $canvasChartLinkColor : #999999;
  $canvasChartLinkHoverColor : #ffffff;

  @import 'theme';
}

body.jui.classic .performanceBrowser .datepicker {
  border-color: #b5b5b5;
}