@import '~@common/scss/themes.scss';
@import '../base.scss';

$themes: (
    classic: (
        border-color: #e8e8e8,
        typography-color-primary: #212121,
        typography-color-purple: #6330ee,
        typography-color-grey1: #616161,
    ),
    dark: (
        border-color: #4e4e4e,
        typography-color-primary: #e8e8e8,
        typography-color-purple: #a47cff,
        typography-color-grey1: #999999,
    ),
);
.popup-header {
    .search {
        width: 200px;
        .left {
            background: none !important;
        }
    }
}
.popup-body {
    @include themify($themes) {
        display: flex;
        margin: 0 -24px;
        border-top: 1px solid themed('border-color');
        height: calc(100vh - 60px);

        .left {
            width: 266px;
            display: flex;
            flex-flow: column;
            background-color: transparent !important;
            border-right: 1px solid themed('border-color');

            .dictionary {
                padding: 24px;
                height: 100%;
                overflow-y: auto;

                .index-group {
                    margin-bottom: 24px;

                    .index {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        border-bottom: 1px solid themed('border-color');
                        margin-bottom: 12px;
                        color: themed('typography-color-grey1');
                    }

                    ul {
                        margin: 0;
                        padding: 0;

                        .index-item {
                            color: themed('typography-color-primary');
                            font-size: 12px;
                            line-height: 1.67;
                            cursor: pointer;
                            list-style: none;
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            &.active {
                                color: themed('typography-color-purple');
                            }
                        }
                    }
                }
            }

            .tree-group {
                padding: 0;
                height: 100%;

                ::v-deep .node-label {
                    overflow-x: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .content {
            height: 100%;
            overflow-y: auto;
            width: calc(100% - 266px);
        }
    }
}

.popup {
    overflow: hidden;
}
