$themes: (
    classic: (
        common-font-color: #616161,
        common-border-color: #e8e8e8,
        chart-section-font-color: #212121,
        detail-table-xview-link-font-color: #212121,
        detail-table-xview-link-background-color: rgba(0, 0, 0, 0.05),
        detail-table-score-warning-background-color: #ffdf00,
        rate-chart-hover-item-background-color: rgba(0, 0, 0, 0.05),
        rate-chart-item-bar-background-color: #cce7e1,
    ),
    dark: (
        common-font-color: #999,
        common-border-color: #4e4e4e,
        chart-section-font-color: #e8e8e8,
        detail-table-xview-link-font-color: #e8e8e8,
        detail-table-xview-link-background-color: rgba(255, 255, 255, 0.05),
        detail-table-score-warning-background-color: #ffdf00,
        rate-chart-hover-item-background-color: rgba(255, 255, 255, 0.05),
        rate-chart-item-bar-background-color: #2dbb94,
    ),
);

@import '~@common/scss/themes.scss';
