$themes: (
  classic: (
    folder-font-color: #212121,
    folder-border-color: #e8e8e8,
    search-option-border-color: #e8e8e8,
    search-option-border-shadow-color: rgba(0, 0, 0, 0.08),
  ),
  dark: (
    folder-font-color: #e8e8e8,
    folder-border-color: #4e4e4e,
    search-option-border-color: #4e4e4e,
    search-option-border-shadow-color: rgba(0, 0, 0, 0.5),
  ),
);

@import '~@common/scss/themes.scss';