//  from david
// 1개의 themes 파일을 개별의 vue, scss 에서 로드하고 싶어서 써본 방법이다.
//https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
// 원래는 @use를 써보고 싶었지만 dart scss 에서만 지원이 가능하다. https://sass-lang.com/documentation/at-rules/use

$themes: (
    classic: (
        typography-color-primary: #212121,
        typography-color-purple: #6330ee,
        typography-color-grey1: #616161,
        typography-color-grey2: #999999,
        typography-color-white: #ffffff,
        typography-color-red: #ff4f55,
        typography-color-green: #1fa558,
        border-color: #dadada,
        background-color-purple: #8652ff,
        background-color-lightpurple: #ede2ff,
        background-color-red: #ff4f55,
        background-color-green: #49d484,
        background-color-yellow: #fddd2f,
        background-color-blue: #497eff,
        background-color-none: transparent,
        icon-color: #212121,
        behaviors-hover-color: rgba(0, 0, 0, 0.05),
        behaviors-press-color: rgba(0, 0, 0, 0.16),
        behaviors-selection-color: #ede2ff,
        behaviors-none-color: transparent,
        toggle-behaviors-hover-color: rgba(0, 0, 0, 0.05),
        toggle-behaviors-active-text-color: #ffffff,
        toggle-behaviors-active-lightpurple-text-color: #6330ee,
        toggle-behaviors-none-color: transparent,
        dropdown-shadow-color: rgba(34, 36, 38, 0.15),
        dropdown-list-background-color: #ffffff,
        window-close-btn-color: #999999,
        window-background-color: #ffffff,
        switch-background-color-on: rgba(134, 82, 255, 0.5),
        switch-background-color-off: rgba(0, 0, 0, 0.26),
        switch-button-color-off: #fafafa,
        switch-disabled-background-color: rgba(0, 0, 0, 0.12),
        switch-disabled-button-color: #bdbdbd,
        toggle-border-color-on: #865eff,
        toggle-border-color-off: rgba(0, 0, 0, 0.5),
        toggle-color-disabled: rgba(3, 3, 3, 0.16),
        toggle-label-color: #333333,
        field-background-color-disabled: #f3f3f3,
        tab-border-bottom-color: #e8e8e8,
        color-picker-background-color: #fff,
        color-picker-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.12),
        color-picker-font-color: #a3a3a3,
        color-picker-input-font-color: #333,
        color-picker-input-border-color: #c8c8c8,
        color-picker-input-background-color: #fff,
        color-picker-border-color: #ececec,
        color-picker-saturation-from-color: #fff,
        color-picker-saturation-to-color: rgba(204, 154, 129, 0),
        color-picker-value-from-color: #000000,
        color-picker-value-to-color: rgba(204, 154, 129, 0),
        color-picker-value-drag-pointer-border-color: #fff,
        color-picker-drag-pointer-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05),
        color-picker-drag-pointer-border-color: rgba(0, 0, 0, 0.1),
        color-picker-drag-pointer-background-color: #ffffff,
        color-picker-information-border-color: #e8e8e8,
        color-picker-opacity-background-color: #bababa,
        color-picker-pattern-image-url:
            'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC',
        slider-background-color: rgba(0, 0, 0, 0.08),
        slider-button-background-color: #fff,
        snippet-background-color: #f7f7f7,
        badge-background-skyblue: #cce4f9,
        alert-background-normal: #f3f3f3,
        alert-background-danger: #ffe6e8,
        alert-background-success: #ddf1e2,
        alert-background-info: #e6f2fc,
        alert-background-warning: #fff2cd,
        alert-close-btn-color: #616161,
        topbar-background-color: #ffffff,
        topbar-border-color: #e8e8e8,
        topbar-shadow-color: rgba(0, 0, 0, 0.05),
        loading-btn-layer-background: rgba(0, 0, 0, 0.1),
        note-background: #f6f6f6,
    ),
    dark: (
        typography-color-primary: #e8e8e8,
        typography-color-purple: #a47cff,
        typography-color-grey1: #999999,
        typography-color-grey2: #707070,
        typography-color-white: #ffffff,
        typography-color-red: #ff4f55,
        typography-color-green: #38e581,
        border-color: #4e4e4e,
        background-color-purple: #8652ff,
        background-color-lightpurple: #35294d,
        background-color-red: #ff4f55,
        background-color-green: #49d484,
        background-color-yellow: #fddd2f,
        background-color-blue: #497eff,
        background-color-none: transparent,
        icon-color: #999999,
        behaviors-hover-color: rgba(255, 255, 255, 0.05),
        behaviors-press-color: rgba(255, 255, 255, 0.16),
        behaviors-selection-color: #553688,
        behaviors-none-color: transparent,
        toggle-behaviors-hover-color: rgba(255, 255, 255, 0.05),
        toggle-behaviors-active-text-color: #ffffff,
        toggle-behaviors-active-lightpurple-text-color: #a47cff,
        toggle-behaviors-none-color: transparent,
        dropdown-shadow-color: rgba(0, 0, 0, 0.15),
        dropdown-list-background-color: #212121,
        window-close-btn-color: #616161,
        window-background-color: #292929,
        switch-background-color-on: rgba(134, 82, 255, 0.5),
        switch-background-color-off: rgba(255, 255, 255, 0.3),
        switch-button-color-off: #999999,
        switch-disabled-background-color: rgba(255, 255, 255, 0.1),
        switch-disabled-button-color: #424242,
        toggle-border-color-on: #865eff,
        toggle-border-color-off: rgba(255, 255, 255, 0.7),
        toggle-color-disabled: rgba(255, 255, 255, 0.16),
        toggle-label-color: #d5d5d5,
        field-background-color-disabled: #393939,
        tab-border-bottom-color: #4e4e4e,
        color-picker-background-color: #1c1c1c,
        color-picker-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.8),
        color-picker-font-color: #666666,
        color-picker-input-font-color: #c0c0c0,
        color-picker-input-border-color: #606060,
        color-picker-input-background-color: #1a1a1a,
        color-picker-border-color: #4d4d4d,
        color-picker-saturation-from-color: #fff,
        color-picker-saturation-to-color: rgba(204, 154, 129, 0),
        color-picker-value-from-color: #000000,
        color-picker-value-to-color: rgba(204, 154, 129, 0),
        color-picker-value-drag-pointer-border-color: #fff,
        color-picker-drag-pointer-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5),
        color-picker-drag-pointer-border-color: #4d4d4d,
        color-picker-drag-pointer-background-color: #3d3d3d,
        color-picker-information-border-color: #3d3d3d,
        color-picker-opacity-background-color: #4d4d4d,
        color-picker-pattern-image-url:
            'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC',
        slider-background-color: rgba(255, 255, 255, 0.08),
        slider-button-background-color: #999,
        snippet-background-color: #272727,
        badge-background-skyblue: #4986e7,
        alert-background-normal: #303030,
        alert-background-danger: #c42a2f,
        alert-background-success: #207438,
        alert-background-info: #2e60db,
        alert-background-warning: #ffbf17,
        alert-close-btn-color: #ffffff,
        topbar-background-color: #1c1c1c,
        topbar-border-color: #4e4e4e,
        topbar-shadow-color: rgba(0, 0, 0, 0.05),
        loading-btn-layer-background: rgba(255, 255, 255, 0.1),
        note-background: #222,
    ),
);

@import '~@common/scss/themes.scss';
