$themes: (
  classic: (
          chart-section-background-color: #fff,
          chart-section-font-color: #212121,
          chart-section-border-color: #e8e8e8,
          detail-table-bar-link-background-color: #cce4f9,
          detail-table-bar-link-font-color: #212121,
  ),
  dark: (
          chart-section-background-color: #1c1c1c,
          chart-section-font-color: #999,
          chart-section-border-color: #4e4e4e,
          detail-table-bar-link-background-color: #4986e7,
          detail-table-bar-link-font-color: #fff,
  )
);

@import '~@common/scss/themes.scss';