#vue_app {
    height: 100%;

    > .head {
        padding: 0 24px;
    }
    > .body {
        padding: 0 24px;
        margin-top: 10px;

        > .scroll {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}
