$themes: (
        classic: (
                dashboard-header-color: #ffffff,
                dashboard-header-border-bottom-color: rgba(0, 0, 0, 0.14),
                dashboard-menu-layer-tabs-shadow: rgba(0, 0, 0, 0.14),
                dashboard-menu-layer-contents-background: #f9f9f9,
                dashboard-menu-layer-tab-title-color: #212121,
                dashboard-menu-layer-tab-title-border-color: #e8e8e8,
                dashboard-menu-layer-thumbnail-text-color: #212121,
                dashboard-menu-layer-thumbnail-hover-background: rgba(0, 0, 0, 0.05),
                dashboard-menu-layer-thumbnail-userdefined-background: #ffffff,
        ),
        dark: (
                dashboard-header-color: #272727,
                dashboard-header-border-bottom-color: rgba(255, 255, 255, 0.14),
                dashboard-menu-layer-tabs-shadow: rgba(0, 0, 0, 0.06),
                dashboard-menu-layer-contents-background: #1c1c1c,
                dashboard-menu-layer-tab-title-color: #e8e8e8,
                dashboard-menu-layer-tab-title-border-color: #4e4e4e,
                dashboard-menu-layer-thumbnail-text-color: #e8e8e8,
                dashboard-menu-layer-thumbnail-hover-background:
                rgba(255, 255, 255, 0.05),
                dashboard-menu-layer-thumbnail-userdefined-background: #272727,
        ),
);

@import '~@common/scss/themes.scss';
