body {
    overflow: hidden;

    .side-view {
        display: flex;
    }
}

body.classic {
    $toolSideTabBorderColor: #e8e8e8;
    $toolSideTabActiveFontColor: #6330ee;
    $toolSideTabActiveBorderColor: #8652ff;
    $toolTitleFontColor: #212121;
    $toolTitleBorderColor: #e8e8e8;
    $toolWidgetCommonBorderColor: #dadada;
    $toolWidgetColorBackgroundColor: #fff;

    @import 'theme.scss';
}

body.dark {
    $toolSideTabBorderColor: #4e4e4e;
    $toolSideTabActiveFontColor: #a47cff;
    $toolSideTabActiveBorderColor: #8652ff;
    $toolTitleFontColor: #ffff;
    $toolTitleBorderColor: #4e4e4e;
    $toolWidgetCommonBorderColor: #4e4e4e;
    $toolWidgetColorBackgroundColor: #1c1c1c;

    @import 'theme.scss';
}
