.tool-side {
    border-right: 1px solid $toolSideTabBorderColor;
}

.tool-side-tab {
    border-bottom: 1px solid $toolSideTabBorderColor;

    > .menu {
        &.active {
            color: $toolSideTabActiveFontColor;
            border-bottom: 2px solid $toolSideTabActiveBorderColor;
        }
    }
}

.tool-title {
    > .subject {
        color: $toolTitleFontColor;
    }

    border-bottom: 1px solid $toolTitleBorderColor;
}

.tool-side-ui {
    > div {
        > section {
            > .widgets {
                > .widget {
                    &:not(:last-child) {
                        border-bottom: 1px solid $toolWidgetCommonBorderColor;
                    }
                }
            }
        }
    }

    .color-picker-btn {
        > .color-buttons {
            border: solid 1px $toolWidgetCommonBorderColor;
        }
    }

    .chart-color {
        > .widgets {
            > .widget {
                border: solid 1px $toolWidgetCommonBorderColor;
                > .block {
                    border: 1px solid $toolWidgetColorBackgroundColor;
                }
            }
        }
    }
}
