$themes: (
  classic: (
          active-score-font-color: #616161,
          active-score-total-font-color: #212121,
          auto-refresh-label-border-color: #dadada,
          auto-refresh-label-background-color: #f0f0f0,
          auto-refresh-label-font-color: #616161,
          auto-refresh-label-button-background-color: #fff,
          summary-table-tooltip-background-color: rgba(0, 0, 0, 0.75),
          summary-table-tooltip-font-color: #fff,
          summary-table-tooltip-total-font-color: #fff,
          summary-table-graph-background-color: rgba(0, 0, 0, 0.06),
          summary-table-graph-bar-background-color: #49d484,
          table-bar-tab-font-color: #616161,
          table-bar-active-tab-background-color: #ede2ff,
          table-bar-active-tab-font-color: #6330ee,
          table-bar-bottom-line-color: #e8e8e8,
          tool-bar-background-color: #fff,
          tool-bar-border-color: #e8e8e8,
          top-bar-title-font-color: #212121,
          top-bar-help-icon-color: #616161,
  ),
  dark: (
          active-score-font-color: #999,
          active-score-total-font-color: #e8e8e8,
          auto-refresh-label-border-color: #4e4e4e,
          auto-refresh-label-background-color: #292929,
          auto-refresh-label-font-color: #999999,
          auto-refresh-label-button-background-color: #1c1c1c,
          summary-table-tooltip-background-color: rgba(0, 0, 0, 0.75),
          summary-table-tooltip-font-color: #fff,
          summary-table-tooltip-total-font-color: #fff,
          summary-table-graph-background-color: rgba(255, 255, 255, 0.06),
          summary-table-graph-bar-background-color: #1fa558,
          table-bar-tab-font-color: #999,
          table-bar-active-tab-background-color: #35294d,
          table-bar-active-tab-font-color: #a47cff,
          table-bar-bottom-line-color: #4e4e4e,
          tool-bar-background-color: #1c1c1c,
          tool-bar-border-color: #4e4e4e,
          top-bar-title-font-color: #e8e8e8,
          top-bar-help-icon-color: #999999,
  )
);

@import '~@common/scss/themes.scss';