@import '~@common/scss/themes.scss';

$themes: (
    classic: (
        section-text-color: #212121,
        domain-group-tree-bg-color: #ffffff,
        common-header-font-color: #212121,
        box-border-color: #e8e8e8,
        normal-text-color: #ffffff,
        normal-bg-color: #497eff,
        warning-text-color: #212121,
        warning-bg-color: #ffdd26,
        fatal-text-color: #ffffff,
        fatal-bg-color: #ff4f55,
        stopped-text-color: #ff4f55,
        stopped-bg-color: rgba(255, 79, 85, 0.24),
        licenseexpired-text-color: #6330ee,
        licenseexpired-bg-color: rgba(134, 82, 255, 0.24),
        behaviors-hover-color: rgba(0, 0, 0, 0.05),
        behaviors-press-color: rgba(0, 0, 0, 0.16),
        background-color-lightpurple: #ede2ff,
    ),
    dark: (
        section-text-color: #e8e8e8,
        domain-group-tree-bg-color: #1c1c1c,
        common-header-font-color: #e8e8e8,
        box-border-color: #4e4e4e,
        normal-text-color: #ffffff,
        normal-bg-color: #497eff,
        warning-text-color: #212121,
        warning-bg-color: #ffdd26,
        fatal-text-color: #ffffff,
        fatal-bg-color: #ff4f55,
        stopped-text-color: #ff4f55,
        stopped-bg-color: rgba(255, 79, 85, 0.24),
        licenseexpired-text-color: #a47cff,
        licenseexpired-bg-color: rgba(134, 82, 255, 0.24),
        behaviors-hover-color: rgba(255, 255, 255, 0.05),
        behaviors-press-color: rgba(255, 255, 255, 0.16),
        background-color-lightpurple: #35294d,
    ),
);
